/**
custom-icons Webfont
*/

@font-face {
    font-family: 'custom-icons';
    src: url('../fonts/custom-icons.eot?1502805836105');
    src: url('../fonts/custom-icons.eot?#iefix-1502805836105') format('embedded-opentype'), url('../fonts/custom-icons.woff2?1502805836105') format('woff2'), url('../fonts/custom-icons.woff?1502805836105') format('woff'), url('../fonts/custom-icons.ttf?1502805836105') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
    font-family: 'custom-icons';
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    font-size: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*
Glyphs list
*/

.icon-Arrow:before {
        content: '\ea01';
    }
    .icon-Home:before {
        content: '\ea02';
    }
    .icon-Mail:before {
        content: '\ea03';
    }
    .icon-Phone:before {
        content: '\ea04';
    }
    .icon-Pin:before {
        content: '\ea05';
    }
    .icon-Rubl:before {
        content: '\ea06';
    }
    .icon-Timer:before {
        content: '\ea07';
    }
    .icon-User:before {
        content: '\ea08';
    }
    